<nav>
  <ul class="pagination">
    <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
      <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
    </li>
    <!-- [ngClass] attribute directive can even take array of classes -->
    <ng-container *ngFor="let image of images; let i = index">
      <li
        class="page-item"
        [appClass]="{ active: i === currentPage }"
        *ngIf="checkWindowIndex(i)"
      >
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }} </a>
      </li>
    </ng-container>
    <li
      class="page-item"
      [appClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4 [appClass]="'aqua'">{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" />
</div>

<!-- 
<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">Zero</div>
  <div *ngSwitchCase="1">One</div>
  <div *ngSwitchDefault>Unknown</div>
</div>
 -->

<ul *appTimes="10">
  <li>Anira</li>
  <li>Sowra</li>
</ul>
